@model ProductListViewModel

<div class="container mt-3">
    <h2>Список продуктів</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Назва продукту</th>
                <th>Опис</th>
                <th>Ціна</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products.Data)
            {
                <tr>
                    <td>@item.Name</td>
                    <td class="w-50">@item.Description</td>
                    <td>@item.Price грн</td>
                    <td>
                        <a class="btn btn-primary" asp-action="UpdateProduct" asp-controller="Admin" asp-route-id="@item.Id">Редагувати</a>
                        <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Admin" asp-route-id="@item.Id">Видалити</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>